@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Bold.ttf) format("ttf"), url(../fonts/CircularStd-Bold.eot) format("eot"), url(../fonts/CircularStd-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Book.ttf) format("ttf"), url(../fonts/CircularStd-Book.eot) format("eot"), url(../fonts/CircularStd-Book.woff) format("woff");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Medium.ttf) format("ttf"), url(../fonts/CircularStd-Medium.eot) format("eot"), url(../fonts/CircularStd-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Regular.eot) format("eot"), url(../fonts/ProximaNova-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Bold.eot) format("eot"), url(../fonts/ProximaNova-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/JosefinSans-Bold.ttf) format("ttf"), url(../fonts/JosefinSans-Bold.eot) format("eot"), url(../fonts/JosefinSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-mirage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
  padding-bottom: 110px;
}

.header-mirage__logo {
  font-family: Josefin Sans;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  color: #56597A;
}

.header-mirage__logo-color {
  color: #F087B1;
}

.header-mirage__menu {
  width: 560px;
}

.menu_list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu_item-link {
  text-decoration: none;
  font-family: CircularStd;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #AAAAAB;
}

.burger-menu_button {
  display: block;
  width: 24px;
  height: 24px;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #AAAAAB;
  top: 72px;
}

.burger-menu_lines::before {
  content: '';
  top: -4px;
}

.burger-menu_lines::after {
  content: '';
  top: 4px;
}

.agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agency__content {
  padding-top: 35px;
  padding-bottom: 139px;
}

.main__header {
  margin: 0;
  font-family: CircularStd;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #F78CB6;
  padding-bottom: 29px;
}

.main__slogan {
  display: block;
  font-family: CircularStd;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  color: #56597A;
  max-width: 599px;
  padding-bottom: 31px;
}

.main__text {
  margin: 0;
  max-width: 537px;
  font-family: ProximaNova;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #919299;
  padding-bottom: 42px;
}

.main__btn {
  text-decoration: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 216px;
  height: 66px;
  background-color: #F78BB6;
  border-radius: 5px;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
          filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
}

.main__btn-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__btn-txt {
  font-family: CircularStd;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.main__btn-img {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: rgba(255, 193, 218, 0.28);
}

.agency-header::before {
  content: "";
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
  width: 36px;
  height: 3px;
  background-color: #F78CB6;
  margin-right: 7px;
}

.main__btn-img::before {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 13px;
  background-image: url(../img/btn-img.png);
  background-repeat: no-repeat;
  top: 27px;
  left: 150px;
}

.services {
  padding-bottom: 231px;
}

.services_header {
  padding: 0;
  margin-bottom: 6px;
  text-align: center;
}

.services_slogan {
  display: block;
  max-width: 100%;
  text-align: center;
  font-size: 52px;
  line-height: 72px;
  padding-bottom: 58px;
}

.services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: auto;
}

.services-cards__img {
  margin: 0;
  padding: 0;
  max-width: 270px;
  background-color: #FFF1F9;
  text-align: center;
  padding-top: 53px;
}

.services-cards__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-cards__title {
  font-family: CircularStd;
  font-weight: 500;
  font-size: 34px;
  line-height: 72px;
  color: #56597A;
  padding-top: 38px;
}

.services-cards__text {
  font-family: ProximaNova;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #919299;
  padding-bottom: 23px;
}

.services-cards__btn {
  margin: 0;
  padding: 0;
  display: none;
  font-family: CircularStd;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-cards__img:hover {
  background-color: #F78CB6;
}

.services-cards__img:hover > .services-cards__btn {
  display: block;
}

.services-cards__img:hover > svg path {
  fill: #fff;
}

.services-cards__img:hover > .services-cards__info > .services-cards__title {
  color: #FFF1F9;
}

.services-cards__img:hover > .services-cards__info > .services-cards__text {
  color: #FFF1F9;
}

.design {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 194px;
}

.design__content {
  padding: 0;
  padding-left: 79px;
  width: 100%;
}

.design__header {
  padding-bottom: 15px;
}

.design__slogan {
  font-size: 52px;
  line-height: 62px;
  padding-bottom: 24px;
}

.design__text {
  margin: 0;
  padding-bottom: 40px;
}

.design__btn {
  width: 194px;
  height: 58px;
}

.teamwork {
  padding-bottom: 194px;
}

.teamwork__header {
  padding-top: 41px;
  padding-bottom: 15px;
}

.teamwork__content {
  margin-right: 75px;
}

.teamwork__slogan {
  font-size: 52px;
  line-height: 62px;
  padding-bottom: 24px;
}

.teamwork__text {
  margin: 0;
  padding-bottom: 40px;
}

.reviews {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1069px;
  padding-bottom: 163px;
}

.reviews__portret {
  margin-top: 13px;
  margin-right: 137.21px;
  width: 415.79px;
  height: 418.62px;
  background-color: #F78CB6;
  border-radius: 8px;
  position: relative;
}

.reviews__header {
  padding-bottom: 15px;
}

.reviews__slogan {
  font-size: 52px;
  line-height: 62px;
  max-width: 506px;
  padding-bottom: 38px;
}

.reviews__text {
  max-width: 400px;
  padding-bottom: 23px;
}

.reviews__author {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #56597A;
  padding-bottom: 5px;
}

.reviews__country {
  font-size: 16px;
  line-height: 32px;
  color: #ABABAB;
  padding-bottom: 0;
}

.portret-img {
  position: absolute;
  top: 34.45px;
  left: 53.25px;
}

.coutry-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 83px;
}

.mail {
  position: relative;
  max-width: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -174px;
}

.mail-content {
  width: 706px;
}

.mail__img {
  margin-right: 84px;
}

.mail__slogan {
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 18px;
  width: 100%;
  font-size: 52px;
  line-height: 72px;
  text-align: center;
}

.mail__text {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

.mail-form-btn {
  width: 706px;
  height: 82px;
  -webkit-box-shadow: 20px 20px 40px rgba(205, 205, 205, 0.25);
          box-shadow: 20px 20px 40px rgba(205, 205, 205, 0.25);
}

.mail-content_form {
  padding-bottom: 160px;
}

.mail-content_form input[type="email"] {
  width: 515px;
  padding-left: 60px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 82px;
  font-family: Proxima Nova;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #D2D2D2;
  border: none;
  vertical-align: middle;
  background-image: url(../img/Mail.svg);
  background-repeat: no-repeat;
  background-position: 17px 34px;
}

.mail-content_form input[type="submit"] {
  width: 179px;
  height: 54px;
  border: none;
  background: #F78CB6;
  color: #FFF1F9;
  font-family: CircularStd;
  font-weight: 450;
  font-size: 20px;
  line-height: 30px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
          filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer__logo {
  display: block;
  font-size: 36px;
  padding-bottom: 38px;
}

.main-footer__text {
  padding: 0;
  letter-spacing: 2%;
}

.main-footer__social {
  display: block;
  padding-top: 38px;
  padding-bottom: 16px;
  font-weight: 700;
  letter-spacing: 2%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons {
  display: block;
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 11px;
}

.inst {
  background-image: url(../img/instagram.svg);
  background-position: center;
}

.tw {
  background-image: url(../img/twitter.svg);
  background-position: center;
}

.video {
  background-image: url(../img/video.svg);
  background-position: center;
}

.fb {
  background-image: url(../img/facebook.svg);
  background-position: center;
}
/*# sourceMappingURL=style.css.map */