@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Bold.ttf) format("ttf"), url(../fonts/CircularStd-Bold.eot) format("eot"), url(../fonts/CircularStd-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Book.ttf) format("ttf"), url(../fonts/CircularStd-Book.eot) format("eot"), url(../fonts/CircularStd-Book.woff) format("woff");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Medium.ttf) format("ttf"), url(../fonts/CircularStd-Medium.eot) format("eot"), url(../fonts/CircularStd-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Regular.eot) format("eot"), url(../fonts/ProximaNova-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Bold.eot) format("eot"), url(../fonts/ProximaNova-Regular.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/JosefinSans-Bold.ttf) format("ttf"), url(../fonts/JosefinSans-Bold.eot) format("eot"), url(../fonts/JosefinSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-mirage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
  padding-bottom: 110px;
}

.header-mirage__logo {
  font-family: Josefin Sans;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  color: #56597A;
}

.header-mirage__logo-color {
  color: #F087B1;
}

.header-mirage__menu {
  width: 560px;
}

.menu_list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu_item-link {
  text-decoration: none;
  font-family: CircularStd;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #AAAAAB;
}

.burger-menu_button {
  display: block;
  width: 24px;
  height: 24px;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #AAAAAB;
  top: 72px;
}

.burger-menu_lines::before {
  content: '';
  top: -4px;
}

.burger-menu_lines::after {
  content: '';
  top: 4px;
}

.agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agency__content {
  padding-top: 35px;
  padding-bottom: 139px;
}

.main__header {
  margin: 0;
  font-family: CircularStd;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #F78CB6;
  padding-bottom: 29px;
}

.main__slogan {
  display: block;
  font-family: CircularStd;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  color: #56597A;
  max-width: 599px;
  padding-bottom: 31px;
}

.main__text {
  margin: 0;
  max-width: 537px;
  font-family: ProximaNova;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #919299;
  padding-bottom: 42px;
}

.main__btn {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 216px;
  height: 66px;
  background-color: #F78BB6;
  border-radius: 5px;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
          filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
}

.main__btn-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__btn-txt {
  font-family: CircularStd;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.main__btn-img {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: rgba(255, 193, 218, 0.28);
}

.agency-header::before {
  content: "";
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
  width: 36px;
  height: 3px;
  background-color: #F78CB6;
  margin-right: 7px;
}

.main__btn-img::before {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 13px;
  background-image: url(../img/btn-img.png);
  background-repeat: no-repeat;
  top: 27px;
  left: 150px;
}

.services_header {
  padding: 0;
  margin-bottom: 6px;
  text-align: center;
}

.services_slogan {
  display: block;
  max-width: 100%;
  text-align: center;
  font-size: 52px;
  line-height: 72px;
  padding-bottom: 58px;
}

.services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-cards__img {
  max-width: 270px;
  background-color: #FFF1F9;
}
/*# sourceMappingURL=style.css.map */