@font-face {
    font-family: CircularStd;
    src: url(../fonts/CircularStd-Bold.ttf) format("ttf"),
         url(../fonts/CircularStd-Bold.eot) format("eot"),
         url(../fonts/CircularStd-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;    
}

@font-face {
    font-family: CircularStd;
    src: url(../fonts/CircularStd-Book.ttf) format("ttf"),
         url(../fonts/CircularStd-Book.eot) format("eot"),
         url(../fonts/CircularStd-Book.woff) format("woff");
    font-weight: 450;
    font-style: normal;    
}

@font-face {
    font-family: CircularStd;
    src: url(../fonts/CircularStd-Medium.ttf) format("ttf"),
         url(../fonts/CircularStd-Medium.eot) format("eot"),
         url(../fonts/CircularStd-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;    
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Regular.eot) format("eot"),
         url(../fonts/ProximaNova-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;    
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Bold.eot) format("eot"),
         url(../fonts/ProximaNova-Regular.woff) format("woff");
    font-weight: 700;
    font-style: normal;    
}

@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/JosefinSans-Bold.ttf) format("ttf"),
       url(../fonts/JosefinSans-Bold.eot) format("eot"),
       url(../fonts/JosefinSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;      
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-mirage{
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
  padding-bottom: 128px;
  &__logo {
    font-family: Josefin Sans;
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    color: #56597A;
    
  }
  &__logo-color{
    color: #F087B1;
  }
  &__menu{
    width: 560px;
  }
}



.menu_list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu_item-link {
  text-decoration: none;
  font-family: CircularStd;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #AAAAAB;
}

.burger-menu_button {
  display: block;
  width: 24px;
  height: 24px;
 
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {

position: absolute;
width: 16px;
height: 2px;
background-color: #AAAAAB;
top: 72px;
}

.burger-menu_lines::before {
  content: '';
  top: -4px;
}
.burger-menu_lines::after {
  content: '';
  top: 4px;
}


.main {
  &__header{
  margin: 0;
  font-family: CircularStd;
  font-weight:500;
  font-size: 28px;
  line-height: 40px;
  color: #F78CB6;
  padding-bottom: 29px;
  }
  &__slogan {
    display: block;
    font-family: CircularStd;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #56597A;
    max-width: 599px;
  }

}

.main__header::before{
  content: "";
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
  width: 36px;
  height: 3px;
  background-color: #F78CB6;
 margin-right: 7px;
}




